{% load selectable_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Reset your password</title>


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Those are for the use of autocomplete form -->
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css" type="text/css">
  <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/dj.selectable.css" />

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.dj.selectable.js"></script>
  <link href="{{ STATIC_URL }}font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/customCSS.css" rel="stylesheet">

  <!-- For dropdown menu -->
  <script src="{{ STATIC_URL }}js/bootstrap-select.js"></script>
  <link href="{{ STATIC_URL }}css/bootstrap-select.css" rel="stylesheet">

  <!-- For rating star -->
  <link href="{{ STATIC_URL }}css/ratingscore.css" rel="stylesheet">

</head>

<!-- A script for autocomplete tabs -->

<script type="text/javascript">
$(document).ready(function() {
  $(':input[name=my_field_0]').bind('djselectableselect', function(event, ui) {
    $(this).parents("form").submit();

  }
  );

  function newParameters(query) {
    query.category_1 = $('#id_category_1').val();
    query.category_2 = $('#id_category_2').val();
    query.ingredient = $('#id_ingredient').val();
  }

  $('#id_autocomplete').djselectable('option', 'prepareQuery', newParameters);

  function formatLabel(label, item) {
    var data = label;
    return '<img src="/foodchaser/recipe/photo/' + item.id + '" height="42" width="42">' + label;
  }

  $('#id_autocomplete').djselectable('option', 'formatLabel', formatLabel);
});
</script>

<!--   For the use of popover panel -->
<script type="text/javascript">
$(function () {
  $('[data-toggle="popover"]').popover();
})
</script>

<!--   For selection -->
<script type="text/javascript">
$('.selectpicker').selectpicker();
</script>

<div nav>
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="container navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class ="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">RecipeHub</a>
    </div>
    <div class="navbar-right">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">

          <li> 
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo" >
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Search Recipe
                </a>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                  <form class="form-horizontal" role="form" method="get" action="{% url 'search' %}">
                    <div class="form-group">
                      <div class="col-sm-10">
                        <tr><td>
                          <input data-selectable-allow-new="false" data-selectable-type="text" data-selectable-url="/selectable/foodchaser-recipelookup/" id="id_autocomplete" name="autocomplete" type="text" placeholder="Type a recipe's name" /></td></tr>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-sm-10">
                          <tr><th><label for="id_category_1">Select one category:</label></th><td>
                            <select id="id_category_1" name="category_1" class="selectpicker show-tick">
                              <option value="" selected="selected"></option>
                              <option value="Appetizers">Appetizers</option>
                              <option value="Main Dish">Main Dish</option>
                              <option value="Side Dish">Side Dish</option>
                              <option value="Soup">Soup</option>
                            </select></td></tr>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="col-sm-10">
                            <tr><th><label for="id_category_2">Select an another category:</label></th><td>
                              <select id="id_category_2" name="category_2" class="selectpicker show-tick">
                                <option value="" selected="selected"></option>
                                <option value="Poultry">Poultry</option>
                                <option value="Pork">Pork</option>
                                <option value="Beef">Beef</option>
                                <option value="Seafood">Seafood</option>
                                <option value="Vegetables">Vegetables</option>
                              </select></td></tr>
                            </div>
                          </div>

                          <div class="form-group">
                            <div class="col-sm-10">
                              <tr><th><label for="id_ingredient">Type the keyword of ingredient you want to search:</label></th><td><input data-selectable-allow-new="false" data-selectable-type="text" data-selectable-url="/selectable/foodchaser-ingredientlookup/" id="id_ingredient" name="ingredient" type="text" /></td></tr>
                            </div>
                          </div>

                          <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                          </button>
                        </form>
                      </div>
                    </div>
                  </div>

                </li>

                <li><a href="{% url 'recommend' %}" class="fa fa-spoon fa-lg" data-toggle="tooltip" data-placement="bottom" title="Recommend"></a></li>

                <li class="active"><a href="{% url 'home' %}"class="fa fa-book fa-lg" data-toggle="tooltip" data-placement="bottom" title="Recipe Box"></a></li>

                <li><a href="{% url 'get_planner' %}" class="fa fa-calendar-o fa-lg" data-toggle="tooltip" data-placement="bottom" title="Menu Planner"></a></li>

                <li><a href="{% url 'add_recipe' %}" class="fa fa-plus-square-o fa-lg" data-toggle="tooltip" data-placement="bottom" title="Add a Recipe"></a></li>

                <script type="text/javascript">
                $('a').tooltip();
                </script> 
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">More<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Settings</li>
                    <li><a href="{% url 'settings' %}">Preference Settings</a></li>
                    <li class="divider"></li>

                    <li class="dropdown-header">Virtual Restaurant</li>
                    <li><a href="{% url 'virtual_restaurant' %}">View</a></li>
                    <li><a href="{% url 'edit_virtual_menu' %}">Customize</a></li>
                    <li class="divider"></li>

                    <li class="dropdown-header">Actions</li>
                    <li><a href="{% url 'change_password' %}">Change password</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                  </ul>
                </li>
              </div>
            </div>
          </div>
        </div>

        <!-- Nav bar ends-->
        <body>

<!--           <center> -->


<br>
<br>
<br>
      <div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">

                <form role="form" id="form4" action="/foodchaser/changepassword" method="post">
              <div class="form-group">
                <label for="id_cur_password">Current password:</label>
                <input type="password" name="cur_password" id="id_cur_password" placeholder="Type your current password" class="form-control" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Your new password:</label>
                <input type="password" name="new_password" class="form-control" id="exampleInputPassword1" placeholder="Type your new password">

<!--                 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
              </div>

              <div class="form-group">
                <label for="exampleInputPassword2">Confirm your new password:</label>
<!--                 <input type="password" name="new_password_confirm" class="form-control" id="exampleInputPassword2"> -->
                <input type="password" name="new_password_confirm" placeholder="Type your new password" id="exampleInputPassword2" class="form-control">

                <!--                 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
              </div>

              <button type="submit" class="btn btn-default">Change password</button>

              {% for error in errors %}
              <p style="color: red">
                {{ error }}
              </p>
              {% endfor %} 


              {% csrf_token %} 
            </form>

  </div>
  <div class="col-xs-6 col-sm-4"></div>
</div>

<!--             <form role="form" id="form4" action="/foodchaser/changepassword" method="post">
              <div class="form-group">
                <label for="id_cur_password">Current password:</label>
                <input type="password" name="cur_password" id="id_cur_password" placeholder="Type your current password" class="form-control" class="form-control">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Your new password:</label>
                <input type="password" name="new_password_confirm" class="form-control" id="exampleInputPassword1" placeholder="Type your new password"> -->

<!--                 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
<!--               </div>

              <div class="form-group">
                <label for="exampleInputPassword2">Confirm your new password:</label> -->
<!--                 <input type="password" name="new_password_confirm" class="form-control" id="exampleInputPassword2"> -->
<!--                 <input type="password" name="new_password_confirm" placeholder="Type your new password" id="exampleInputPassword2" class="form-control"> -->

                <!--                 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
<!--               </div>

              <button type="submit" class="btn btn-default">Change password</button>

              {% for error in errors %}
              <p style="color: red">
                {{ error }}
              </p>
              {% endfor %} 


              {% csrf_token %} 
            </form> -->



<!--             <form id="form4" action="/foodchaser/changepassword" method="post">  

              <h3>Change your password!</h3>

              <fieldset>
                <p class="first">
                  <label for="name">Your current password</label>
                  <input type="password" name="cur_password">
                </p>
                <p>
                  <label for="web">Your new password</label>
                  <input type="password" name="new_password">
                </p>                                          
                <p>
                  <label for="message">Your confirmed new password</label>
                  <input type="password" name="new_password_confirm">
                </p>          

                <p class="submit"><button type="submit">Change password</button></p> 

                {% for error in errors %}
                <p style="color: red">
                  {{ error }}
                </p>
                {% endfor %} 

              </fieldset>    

              {% csrf_token %}     

            </form>  -->
<!-- 
          </center> -->

        </body>
        </html>